.main {
	padding: 1rem;
	margin: 1rem auto;
	border: 1px solid goldenrod;
	max-width: 600px;
	> * {
		margin: 1rem;
	}
}
.people {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.5rem;
	background-color: #d5e0d5;
	padding: 0.5rem 2rem;
	width: 40%;
	margin: 0.5rem auto;
}
